<% if holdings.empty? %>
  <p>start trading stocks!</p>
<% else %>
  <table class="table" id="holdings_table">
    <thead class="thead-inverse">
      <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Type</th>
        <th>Quantity</th>
        <th>Price at Purchase</th>
        <th>Current Price</th>
        <th>Unrealized Gain/Loss</th>
        <th>Current Balance</th>
       </tr>
    </thead>
    <tbody>
      <% total_value = 0 %>
      <tr <% holdings.each do |holding| %> >
        <td><%= holding.stock.symbol %></td>
        <td><%= link_to holding.stock.name, holding.stock %></td>
        <td><%= holding.type_of_holding %></td>
        <td><%= holding.quantity %></td>
        <td>$<%= '%.2f' % holding.price_at_purchase %></td>
        <td>$<%= '%.2f' % holding.stock.current_price %></td>
        <% if holding.type_of_holding == 'buy' %>
          <% gain = ((((holding.quantity * holding.stock.current_price) - (holding.quantity * holding.price_at_purchase)) /
                (holding.quantity * holding.price_at_purchase)) * 100) %>
        <% else %>
          <% gain = ((((holding.quantity * holding.price_at_purchase) - (holding.quantity * holding.stock.current_price)) /
                (holding.quantity * holding.price_at_purchase)) * 100)%>
        <% end %>
        <% if gain > 0 %>
          <td class="green">+<%= '%.2f' % gain %>%</td>
        <% elsif gain < 0 %>
          <td class="red"><%= '%.2f' % gain %>%</td>
        <% else %>
          <td class="black">0.00%</td>
        <% end %>
        <% if holding.type_of_holding == 'buy' %>
          <% value = (holding.quantity * holding.stock.current_price) %>
          <% total_value = total_value + value %>
          <td>$<%= '%.2f' % value %> </td>
          <td><%= link_to 'Buy More', new_holding_path({:stock_symbol => holding.stock.symbol, :type => 'buy'}), class: "btn btn-success"%></td>
          <td><%= link_to 'Sell', new_holding_path({:stock_symbol => holding.stock.symbol, :type => 'sell'}), class: "btn btn-danger"%></td>
        <% else %>
          <% value = ((holding.quantity * holding.price_at_purchase) - (holding.quantity * (holding.stock.current_price - holding.price_at_purchase))) %>
          <% total_value = total_value + value %>
          <td>$<%= '%.2f' % value %> </td>
          <td><%= link_to 'Short More', new_holding_path({:stock_symbol => holding.stock.symbol, :type => 'short'}), class: "btn btn-success"%></td>
          <td><%= link_to 'Cover', new_holding_path({:stock_symbol => holding.stock.symbol, :type => 'cover'}), class: "btn btn-danger"%></td>
        <% end %>
     </tr <% end %> >
     <tr>
       <td><b>Total</b></td>
       <td></td><td></td><td></td><td></td><td></td><td></td>
       <td><b>$<%= total_value %></b></td>
     </tr>
    </tbody>
  </table>
<% end %>


