<% provide(:title, 'My holdings') %>
<h1>My holdings</h1>

<ul class="holdings">
  <% @holdings.each do |holding| %>
    <li>
      <%= link_to holding.stock.name, holding.stock %>
      <%= holding.price_at_purchase %>
      <%= holding.quantity %>
      <%= holding.stock.current_price %>
      <button><%= link_to "Buy", new_holding_path(holding.stock) %> </button>
    </li>
  <% end %>
</ul>


