<% provide(:title, 'Transaction') %>
<div class="row">
  <div class="col-md-6">
    <h1>Trade a stock</h1>
    <%= form_for(@holding) do |f| %>
      <%= f.label :symbol, "Symbol" %>
      <%= f.text_field :symbol, :value => params[:stock_symbol] %>

      <%= f.label :type_of_holding, "Type" %>
      <%= f.select :type_of_holding, ['buy', 'sell', 'short', 'cover'], :selected => params[:type]%>

      <%= f.label :quantity, "Quantity" %>
      <%= f.number_field :quantity %>

      <%= f.submit "Submit", :onclick => "confirm('Are you sure?')", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div id="stock_info">
    <p>TEST</p>
    <%= render partial: 'stocks/stock_info', locals: { stock: @stock} %>
  </div>

<div class="modal fade in" id="reviewModal" role="dialog" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" >&times;</button>
        <h4 class="modal-title">REVIEW</h4>
      </div>
      <div class="modal-body">
        <p>REVIEW</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>
