<% provide(:title, 'Transaction') %>
<div class="row">
  <div class="col-md-6">
    <h1>Trade a stock</h1>
    <%= form_for(@holding) do |f| %>
      <%= f.label :symbol, "Symbol" %>
      <%= f.text_field :symbol, :value => params[:stock_symbol] %>

      <%= f.label :type_of_holding, "Type" %>
      <%= f.select :type_of_holding, ['buy', 'sell', 'short', 'cover'], :selected => params[:type]%>

      <%= f.label :quantity, "Quantity" %>
      <%= f.number_field :quantity %>

      <%= f.submit "Submit", :onclick => "confirm('Are you sure?')", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div id="stock_info">
    <p>TEST</p>
    <%= render partial: 'stock_info', locals: { stock: @stock} %>
  </div>

