<% provide(:title, 'Transaction') %>
<h1>Transaction</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@holding) do |f| %>
      <%= f.label :stock, "Stock" %>
      <%= f.text_field :stock, :value => params[:stock_name] %>

      <%= f.label :type_of_holding, "Type" %>
      <%= f.select :type_of_holding, ['buy', 'sell'], :selected => params[:type]%>
 
      <%= f.label :quantity, "Quantity" %>
      <%= f.number_field :quantity %>
 
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

