<div class="header">
  <div class="col-sm-2">
    <div id="picture">
      <img src="<%= @stock.player_info[:PhotoUrl] %>" alt="@stock.name" />
    </div>
  </div>
  <div class="col-sm-6">
    <div id="header_info">
      <h2> <%= stock.name %> (<%= stock.symbol %>) </h2>
      <h3> <%= '%.2f' % stock.current_price %> </h3>
      <h4> <%= '%.2f' % (stock.current_price - stock.open_price) %> (<%= '%.2f' % (stock.daily_change * 100) %>%) </h4>
      <h4> as of <%= time.strftime("%I:%M %p") %> </h4> <br><br>
      
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">Summary</button>
        <button type="button" class="btn btn-secondary">Earnings and Events</button>
        <button type="button" class="btn btn-secondary">News</button>
      </div>
    </div>
  </div>
</div>
