<div class="panel panel-default">
  <div class="panel-heading"><h4>Earnings</h4></div>
  <div class="panel-body">
    <% if golfer %>
      <p>1st -- $15 -- <%= golfer.first %> -- $<%= golfer.first * 15%></p>
      <p>2nd -- $8 -- <%= golfer.second %> -- $<%= golfer.second * 8%></p>
      <p>3rd -- $4 -- <%= golfer.third %> -- $<%= golfer.third * 4%></p>
      <p>Top 10 -- $5 -- <%= golfer.top_ten %> -- $<%= golfer.top_ten * 5%></p>
      <p>Top 25 -- $7 -- <%= golfer.top_twenty_five %> -- $<%= golfer.top_twenty_five * 7%></p>
      <p>Made Cut -- $3 -- <%= golfer.made_cut %> -- $<%= golfer.made_cut * 3%></p>
      <p>Total Earnings: $<%= stock.earnings %>
    <% end %>
  </div>
</div>
