<% provide(:title, 'All stocks') %>
<h1>All stocks</h1>

<table class="table">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Name</th>
      <th>Current Price</th>
      <th>Sport</th>
     </tr>
  </thead>
  <tbody>
    <tr <% @stocks.each do |stock| %> >
      <td><%= stock.symbol %></td>
      <td><%= link_to stock.name, stock %></td>
      <td><%= '%.2f' % stock.current_price %></td>
      <td><%= stock.sport %></td>
      <td><%= link_to 'Buy', new_holding_path({:stock_name => stock.name, :type => 'buy'}), class: "btn btn-success"%></td>
      <td><%= link_to 'Sell', new_holding_path({:stock_name => stock.name, :type => 'sell'}), class: "btn btn-danger"%></td>
      <td><%= link_to 'Short', new_holding_path({:stock_name => stock.name, :type => 'short'}), class: "btn btn-success"%></td>
      <td><%= link_to 'Cover', new_holding_path({:stock_name => stock.name, :type => 'cover'}), class: "btn btn-danger"%></td>
      <% if @current_user.admin? %>
        <td><%= link_to 'Edit', edit_stock_path(stock), class: "btn btn-primary"%></td> 
        <td><%= link_to 'Delete', stock,  method: :delete,
                data: { confirm: "You sure?" },  class: "btn btn-primary"%></td>
      <% end %>
    </tr <% end %> >
  </tbody>
</table>

<% if @current_user.admin? %>
  <%= link_to 'Add new stock', new_stock_path, class: "btn btn-primary"%>
<% end %>

