<% provide(:title, 'All stocks') %>
<h1>All stocks</h1>

<ul class="stocks">
  <% @stocks.each do |stock| %>
    <li>
      <%= link_to stock.name, stock %>
      <%= stock.current_price %>
      <button><%= link_to "Buy", new_holding_path(stock) %> </button>
      <% if @current_user.admin? %>
        <button><%= link_to "Edit", edit_stock_path(stock) %></button>
        <button><%= link_to "Delete", stock, method: :delete,
                data: { confirm: "You sure?" } %></button>
      <% end %>
    </li>
  <% end %>
</ul>

<% if @current_user.admin? %>
  <button><%= link_to "Add new stock", new_stock_path %></button>
<% end %>
