<% provide(:title, @stock.name) %>
<div class="row">
  <div id="stock_header">
    <%= render partial: 'header', locals: { stock: @stock, holding: @holding, watchlist: @watchlist, time: @time, current_user: @current_user } %>
  </div>
</div>

<br>

<div class="row">
  <div class="col-sm-12">
    <div class="tab-content">
      <div class="tab-pane active" id="summary_tab">
        <%= render partial: 'summary', locals: { stock: @stock, golfer: @golfer } %>
      </div>
      <div class="tab-pane" id="events_tab">
        <%= render partial: 'events', locals: { events: @events, sport: @stock.sport, stock: @stock } %>
      </div>
      <div class="tab-pane" id="news_tab">
        <%= render partial: 'news', locals: { news: @news } %>
      </div>
      <div class="tab-pane" id="posts_tab">
        <%= render partial: 'posts', locals: { posts: @posts } %>
      </div>
    </div>
  </div>
</div>

