<% provide(:title, @stock.name) %>
<div class="header">
   <h3> <%= @stock.name %> (<%= @stock.symbol %>) </h3>
   <h3> <%= @stock.current_price %> </h3>
   <h4> <%= @stock.current_price - @stock.open_price %> (<%= (@stock.current_price - @stock.open_price) / (@stock.open_price) %> %) </h4>
   <h4> as of <%= @time.strftime("%I:%M %p") %> </h4> <nobr>
   <button type="button" class="btn btn-success"><%= link_to 'Buy', new_holding_path({:stock_name => @stock.name, :type => 'buy'}) %></button>
   <button type="button" class="btn btn-danger"><%= link_to 'Sell', new_holding_path({:stock_name => @stock.name, :type => 'sell'}) %></button>
</div>

<br>

<div class="row">
  <div class="col-sm-3">
    <img src="<%= @stock.player_info[:PhotoUrl] %>" alt="@stock.name" /> <br>
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Earnings</h4></div>
      <div class="panel-body">
        <p>1st: <%= @stock.first %></p>
        <p>2nd: <%= @stock.second %></p>
        <p>3rd: <%= @stock.third %></p>
        <p>Top 10: <%= @stock.top_ten %></p>
        <p>Top 25: <%= @stock.top_twenty_five %></p>
        <p>Made Cut: <%= @stock.made_cut %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Summary</h4></div>
      <div class="panel-body">
      </div>
    </div>
    <h3>GRAPH</h3>
  </div>
  <div class="col-sm-3">
     <div class="panel panel-default">
      <div class="panel-heading"><h4>Events</h4></div>
      <div class="panel-body">

      <table class="table">
        <tbody>
          <tr <% @four_tournaments.each do |tournament| %> >
            <td><%= tournament[:tournament_info]["Name"] %></td>
            <% if PlayerTournament.find_by(stock_id: @stock.id, tournament_id: tournament[:id]) %>
              <% if PlayerTournament.find_by(stock_id: @stock.id, tournament_id: tournament[:id])[:player_tournament_info]["Rank"] != nil %>
	        <td><%= PlayerTournament.find_by(stock_id: @stock.id, tournament_id: tournament[:id])[:player_tournament_info]["Rank"] %></td>
              <% else %>
                <% if tournament[:tournament_info]["IsOver"] == true %>
                  <td>Missed Cut</td>
                <% else %>
                  <td>TBD</td>
                <% end %>
              <% end %>
            <% else %>
              <td>Not playing</td>
            <% end %>
            <td> <%= Time.parse(tournament[:tournament_info]["StartDate"]).strftime("%-m/%-d") %>
          </tr <% end %> >
        </tbody>
      </table>
      <p><%= link_to "More Events", stock_tournaments_path(@stock) %></p>

      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><h4>News</h4></div>
      <div class="panel-body">
        <p><%= link_to @stock.player_news[0]["Title"], "#newsModal0", :class => "btn", "data-toggle" => "modal" %><p>
        <p><%= link_to @stock.player_news[1]["Title"], "#newsModal1", :class => "btn", "data-toggle" => "modal" %><p>
        <p><%= link_to @stock.player_news[2]["Title"], "#newsModal2", :class => "btn", "data-toggle" => "modal" %><p>
        <p><%= link_to @stock.player_news[3]["Title"], "#newsModal3", :class => "btn", "data-toggle" => "modal" %><p>
      </div>
    </div>
     <div class="panel panel-default">
      <div class="panel-heading"><h4>Posts</h4></div>
      <div class="panel-body">
        <p>post 1</p>
        <p>post 2</p>
        <p>post 3</p>
        <p>post 4</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade in" id="newsModal0" tabindex="-1" role="dialog" aria-labelledby="newsModal0Label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= @stock.player_news[0]["Title"] %></h4>
      </div>
      <div class="modal-body">
         <p><%= @stock.player_news[0]["Content"] %></p>
         <% date = Time.parse(@stock.player_news[0]["Updated"]) %>
         <p><%= date.strftime("%B #{date.day.ordinalize} at %I:%M%p") %></p>
         <p><%= link_to @stock.player_news[0]["Source"], "http://#{@stock.player_news[0]["Source"]}" %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade in" id="newsModal1" tabindex="-1" role="dialog" aria-labelledby="newsModal1Label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= @stock.player_news[1]["Title"] %></h4>
      </div>
      <div class="modal-body">
         <p><%= @stock.player_news[1]["Content"] %></p>
         <% date = Time.parse(@stock.player_news[1]["Updated"]) %>
         <p><%= date.strftime("%B #{date.day.ordinalize} at %I:%M%p") %></p>
         <p><%= link_to @stock.player_news[1]["Source"], "http://#{@stock.player_news[1]["Source"]}" %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
      </div>
  </div>
</div>

<div class="modal fade in" id="newsModal2" tabindex="-1" role="dialog" aria-labelledby="newsModal2Label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= @stock.player_news[2]["Title"] %></h4>
      </div>
      <div class="modal-body">
         <p><%= @stock.player_news[2]["Content"] %></p>
         <% date = Time.parse(@stock.player_news[2]["Updated"]) %>
         <p><%= date.strftime("%B #{date.day.ordinalize} at %I:%M%p") %></p>
         <p><%= link_to @stock.player_news[2]["Source"], "http://#{@stock.player_news[2]["Source"]}" %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade in" id="newsModal3" tabindex="-1" role="dialog" aria-labelledby="newsModal3Label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= @stock.player_news[3]["Title"] %></h4>
      </div>
      <div class="modal-body">
         <p><%= @stock.player_news[3]["Content"] %></p>
         <% date = Time.parse(@stock.player_news[3]["Updated"]) %>
         <p><%= date.strftime("%B #{date.day.ordinalize} at %I:%M%p") %></p>
         <p><%= link_to @stock.player_news[3]["Source"], "http://#{@stock.player_news[3]["Source"]}" %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
