<% provide(:title, @accounts_user.name) %>
<h1 class="inline"><%= @accounts_user.name %></h1>
<% if @accounts_user.id != current_user.id %>
  <% if current_user.following.include? @accounts_user %>
    <%= link_to 'Unfollow', users_unfollow_user_path({:user_to_unfollow => @accounts_user}), method: :post %>
  <% else %>
    <%= link_to 'Follow', users_follow_user_path({:user_to_follow => @accounts_user}), method: :post %> 
  <% end %>
<% end %>
<div class="row">
  <div class="col-sm-6">
    <div id="portfolio_snippet">
      <%= render partial: 'portfolio_snippet', locals: { current_user: @current_user, accounts_user: @accounts_user, holdings: @holdings } %>
    </div>
  </div>
  <div class="col-sm-6">
    <div id="recent_activity">
      <%= render partial: 'recent_activity', locals: { posts: @posts } %>
    </div>
  </div>
</div>

