<h1>Last Tournament</h1>
<%= last_tournament[:Name] %>
<%= last_tournament[:StartDate] %>
<%= last_tournament[:EndDate] %>
<%= last_tournament[:Venue] %>
<%= last_tournament[:Location] %>
<%= last_tournament[:Par] %>
<%= last_tournament[:Yards] %>
<%= last_tournament[:Purse] %>

<% if last_tournament[:golfers].empty? %>
  <p>no golfer's played in this tournament..</p>
<% end %>

<% last_tournament[:golfers].each do |golfer| %>
  <li>
    <%= link_to golfer[:golfer_stock][:name], golfer[:golfer_stock] %>
    <%= golfer[:golfer_rank] %>
    <%= golfer[:golfer_stock][:current_price] %>
    <%= golfer[:golfer_stock][:daily_change] %>%
  </li>
<% end %>
