<h1>News</h1>
<% news.each do |n| %>
  <li><%= n[:Title] %></li>
  <ul><%= n[:Content] %></ul>
<% end %>

<h1>Previous Tournament</h1>
<%= tournament[:Name] %>
<%= tournament[:StartDate] %>
<%= tournament[:EndDate] %>
<%= tournament[:Venue] %>
<%= tournament[:Location] %>
<%= tournament[:Par] %>
<%= tournament[:Yards] %>
<%= tournament[:Purse] %>

<% if tournament[:golfers].empty? %>
  <p>no golfer's played in this tournament..</p>
<% end %>

<% tournament[:golfers].each do |golfer| %>
  <li>
    <%= link_to golfer[:golfer_stock][:name], golfer[:golfer_stock] %>
    <%= golfer[:golfer_rank] %>
    <%= golfer[:golfer_stock][:current_price] %>
    <%= golfer[:golfer_stock][:daily_change] %>%
  </li>
<% end %>
