<div class="panel panel-default">
  <div class="panel-heading">
    <% tournament = golfer_tournament[0].tournament %>
    <h4><%= link_to tournament[:Name], tournament_path(tournament[:id]) %></h4>
    <%= tournament[:StartDate] %>
    <%= tournament[:EndDate] %>
    <%= tournament[:Venue] %>
    <%= tournament[:Location] %>
    <%= tournament[:Par] %>
    <%= tournament[:Yards] %>
    $<%= tournament[:Purse] %>
  </div>
  <div class="panel-body">
    <% if golfer_tournament.empty? %>
      <p>no golfer's are playing in this tournament..</p>
    <% else %>
      <table class="table" id="tournament_table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Projected Rank</th>
            <th>Current Price</th>
            <th>Daily Change</th>
           </tr>
        </thead>
        <tbody>
          <tr <% golfer_tournament.each do |gt| %> >
            <td><%= link_to gt.golfer.stock[:name], gt.golfer.stock %></td>
            <td><%= gt[:Rank] %></td>
            <td>$<%= gt.golfer.stock[:current_price] %></td>
            <% if gt.golfer.stock[:daily_change] > 0 %>
              <td class="green"><%= '%.2f' % (gt.golfer.stock[:daily_change] * 100) %>%</td>
            <% elsif gt.golfer.stock[:daily_change] < 0 %>
              <td class="red"><%= '%.2f' % (gt.golfer.stock[:daily_change] * 100) %>%</td>
            <% else %>
              <td class="black">0.00%</td>
            <% end %>
          </tr <% end %> >
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#tournament_table').DataTable( {
        "order": [[ 3, "desc" ]]
    } );
} );
</script>

