<div class="panel panel-default">
  <div class="panel-heading"><h4><%= link_to "My Watchlist", holdings_path %></h4></div>
  <div class="panel-body">
    <% if watchlist.empty? %>
      <%= link_to "click here to add to your watchlist!", stocks_path %>
    <% else %>
      <table class="table">
        <thead>
          <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Current Price</th>
            <th>Percent Change</th>
           </tr>
        </thead>
        <tbody>
          <tr <% watchlist.each do |stock| %> >
            <td><%= stock.symbol %></td>
            <td><%= link_to stock.name, stock %></td>
            <td><%= '%.2f' % stock.current_price %></td>
            <td><%= '%.2f' % (((stock.current_price - stock.open_price) / (stock.open_price)) * 100) %>%</td>
          </tr <% end %> >
        </tbody>
      </table>
      <%= link_to 'View All', holdings_path %>
    <% end %>

  </div>
</div>

