<div class="row">
  <div class="col-sm-8">

    <div id="home_feed">
      <%= render @tournaments %>
      <%= render partial: 'news', locals: { news: @news } %>
    </div>
    <div id="infinite-scrolling-home"> <!--code for this in app/assets/javascripts/inifite_scrooling_home-->
      <%= will_paginate @tournaments %>
      <%= will_paginate @news %>
    </div>

  </div>
  <div class="col-sm-4" id="home_sidebar">
    <div id="home_portfolio">
      <%= render partial: 'portfolio', locals: { holdings: @holdings } %>
    </div>
    <div id="home_watchlist">
      <%= render partial: 'watchlist', locals: { watchlist: @watchlist } %>
    </div>
    <div id="home_top_portflios">
      <%= render partial: 'users', locals: { userlist: @top_users, title: 'Top Portfolios' } %>
    </div>
    <div id="home_trending_portfolios">
      <%= render partial: 'users', locals: { userlist: @trending_users, title: 'Trending Portfolios' } %>
    </div>
    <div id="home_following">
      <%= render partial: 'users', locals: { userlist: @following, title: 'Following' } %>
    </div>
    <div id="home_trending">
      <%= render partial: 'stocks', locals: { stocks: @trendings, title: 'Trending' } %>
    </div>
    <div id="home_gainers">
      <%= render partial: 'stocks', locals: { stocks: @gainers, title: 'Gainers' } %>
    </div>
    <div id="home_losers">
      <%= render partial: 'stocks', locals: { stocks: @losers, title: 'Losers' } %>
    </div>
  </div>
</div>

<!-- rendering partials for modals-->
<div id="stockModal">
 <%= render 'shared/stock_modal' %>
</div>
<div id="userModal">
 <%= render 'shared/user_modal' %>
</div>

