<div class="row">
  <div class="col-sm-8">
    <div id="home_news">
      <%= render partial: 'news', locals: { news: @news } %>
    </div>
  </div>
  <div class="col-sm-4">
    <div id="home_portfolio">
      <%= render partial: 'portfolio', locals: { holdings: @holdings } %>
    </div>
    <div id="home_watchlist">
      <%= render partial: 'watchlist', locals: { watchlist: @watchlist } %>
    </div>
    <div id="home_trending">
      <%= render partial: 'trending', locals: { trendings: @trendings} %>
    </div>
    <div id="home_gainers">
      <%= render partial: 'gainers', locals: { gainers: @gainers} %>
    </div>
    <div id="home_losers">
      <%= render partial: 'losers', locals: { losers: @losers} %>
    </div>
  </div>
</div>

