<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Ruby Rain", root_path, id: "logo" %>
    <nav>
      <% if logged_in? %>
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Stocks", stocks_path %></li>
        </ul>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>
	 <% else %>
          <li><%= link_to "Log in", login_path %></li>
	  <li><%= link_to "Sign up", signup_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
